name: Publish Package to npmjs

on:
  workflow_dispatch:
    inputs:
      package:
        description: 'Name of package that shall be published'
        required: true

jobs:
  publish:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package: [
          '@duduk/components',
          '@duduk/content-negotiation',
          '@duduk/cookies',
          '@duduk/localization',
          '@duduk/messaging',
          '@duduk/server',
          '@duduk/ssr'
        ]
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Publish
        if: ${{ matrix.package == github.event.inputs.package }}
        run:
          echo "Publishing package ${{ matrix.package }}"
      - uses: actions/checkout@v4
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci
      - run: npm run build
      - run: npm publish --provenance --access public --workspace ${{ matrix.package }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
